<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>stomp</title>
</head>

<body>
Welcome<br/><input id="text" type="text" />
<button onclick="send()">发送消息</button>
<button onclick="subscribe2()">订阅消息/topic/liveMessage</button>
<button onclick="subscribe1()">订阅消息/topic/subscribeTest</button>
<hr/>
<button onclick="closeWebSocket()">关闭WebSocket连接</button>
<hr/>
<div id="message"></div>
</body>

<script src="../../static/js/stomp.js"></script>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript">
    // 建立连接对象（还未发起连接）
    var socket = new SockJS("http://localhost:8080/ws");

    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    var headers = {
        login: 'mylogin',
        passcode: 'mypasscode',
        // additional header
        'client-id': 'my-client-id'
    };
    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect(
        headers,
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            setMessageInnerHTML("连接成功");
            // stompClient.subscribe('/subscribeTest', function (response) {
            //     console.log(response)
            //     setMessageInnerHTML("已成功订阅/app/subscribeTest");
            //     // var returnData = JSON.parse(response.body);
            //     setMessageInnerHTML("/subscribeTest 你接收到的消息为:" + response.body);
            // });
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            setMessageInnerHTML("连接失败");
        }
    );
    stompClient.debug = function(str) {
        // str 参数即为 debug 信息
// append the debug log to a #debug div somewhere in the page using JQuery:
//         $("#debug").append(str + "\n");
    };

    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        var messageJson = JSON.stringify({ "name": message });
        stompClient.send("/sendTest", {}, messageJson);
        setMessageInnerHTML("/sendTest 你发送的消息:" + message);
    }

    //订阅消息
    function subscribe1() {
        var subscription = stompClient.subscribe('/topic/subscribeTest', function (response) {
            console.log(response)
            setMessageInnerHTML("已成功订阅/topic/subscribeTest");
            var returnData = JSON.parse(response.body);
            setMessageInnerHTML("/topic/subscribeTest 你接收到的消息为:" + returnData.responseMessage);
        });
        console.log("var subscription = ", subscription)
    }

    //订阅消息
    function subscribe2() {
        stompClient.subscribe('/topic/liveMessage', function (response) {
            console.log(response)
            setMessageInnerHTML("已成功订阅/topic/liveMessage");
            var returnData = JSON.parse(response.body);
            setMessageInnerHTML("/topic/liveMessage 你接收到的消息为:" + returnData.responseMessage);
        });
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

</script>

</html>