<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderme.stockview.mapper.StockHistoryMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <insert id="importCsv">
        LOAD DATA LOCAL INFILE #{filePath}
        REPLACE INTO TABLE
        <if test="stockType==1">
            stock_history
        </if>
        <if test="stockType==2">
            index_history
        </if>
        FIELDS ESCAPED BY '\\'
        TERMINATED BY ','
        ENCLOSED BY '"' LINES TERMINATED BY '\r\n' (`realDate`, `stockCode`,
        `stockName`, `close`, `high`, `low`, `open`, `lastClose`,
        `increase`, `increaseRate`, `exchangeRate`, `dealQty`,
        `dealMoney`, `totalMarketCap`, `negotiableMarketCap`) SET updateTime=CURRENT_TIMESTAMP;
    </insert>

    <update id="clearStockCode">
        UPDATE
        <if test="stockType==1">
            stock_history
        </if>
        <if test="stockType==2">
            index_history
        </if>
        SET stockCode = REPLACE(stockCode, "'", "");
    </update>


    <select id="page" resultType="cn.coderme.stockview.entity.StockHistory" useCache="false">
        SELECT * FROM
        <if test="stockType==1">
            stock_history t
        </if>
        <if test="stockType==2">
            index_history t
        </if>
        <where>
            <if test="stockCode != null and stockCode !=''">
                t.stockCode = #{stockCode}
            </if>
        </where>
        order by t.realDate desc
    </select>
</mapper>
