<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderme.stockview.mapper.StockRealtimeMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <resultMap type="cn.coderme.stockview.dto.hchart.CountDto" id="increaseRangeResultMap">
        <!-- 属性名和数据库列名映射 -->
        <result property="item" column="rate"  />
        <result property="count" column="cnt"  />
    </resultMap>

    <select id="increaseRange" resultMap="increaseRangeResultMap" useCache="false">
        SELECT SUBSTRING(temp.rate, 4) as rate, temp.cnt FROM (
        SELECT CASE WHEN sr.auctionPrice=0 AND sr.bidPrice  &gt; 0 THEN '01*涨停'
        WHEN sr.increaseRate>=0.07 AND sr.auctionPrice!=0 THEN '02*> 7%'
        WHEN sr.increaseRate>=0.05 AND sr.increaseRate &lt; 0.07 THEN '03*5%~7%'
        WHEN sr.increaseRate>=0.03 AND sr.increaseRate &lt; 0.05 THEN '04*3%~5%'
        WHEN sr.increaseRate>=0 AND sr.increaseRate &lt; 0.03 THEN '05*0%~3%'
        WHEN sr.increaseRate>=-0.03 AND sr.increaseRate &lt; 0 THEN '06*-3%~0%'
        WHEN sr.increaseRate>=-0.05 AND sr.increaseRate &lt; -0.03 THEN '07*-3%~-5%'
        WHEN sr.increaseRate>=-0.07 AND sr.increaseRate &lt; 0.05 THEN '08*-7%~-5%'
        WHEN sr.increaseRate &lt; -0.07 AND sr.bidPrice!=0 THEN '09*> -7%'
        WHEN sr.bidPrice=0 AND sr.auctionPrice>0 THEN '10*跌停'
        ELSE '11*停牌' END AS rate,COUNT(1) AS cnt FROM stock_realtime sr GROUP BY rate ORDER BY rate) temp
    </select>

</mapper>
